@use '../themes/colors' as colors;

$toolbar-height: 56px;
$ndtp-logo-height: 50%;
$toolbar-font-color: colors.$off-white;

.toolbar-container {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.toolbar-left-side {
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
    height: inherit;
}

.toolbar-right-side {
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
}