/* _colors.scss */
$primary-color: #2ecc71;
$secondary-color: #3498db;
$background-color: #f0f0f0;
.button.blue {
    background-color: #2ecc71;
}
// '_COLORS.SCSS' - IMPORTED INTO APP.SCSS

// BRAND
$brand: #e55d3d;

// WHITES
$white: #fff;

// BLACKS
$black: #111;

// REDS
$red: #bd0000;
$red-dark: #990000;
$red-pin: #c64242;
$red-incident-stage: #e80202;

// GREYS
$grey-dark: #333;
$grey-mid: #ccc;
$grey-light: #f1f1f1; 
$grey-footer: #979797;
$grey-incident-stage: #fff;

// ORANGES
$orange-incident-stage: #ffcc00;

// PURPLES
$purple-incident-stage: #cc3399;

// BLUES
$blue: #004d95;
$blue-dark: #003366;
$blue-light: #bcd4ea;
$blue-header: #072142; // #00162b; // 7, 33, 66
$purple: #2c026a;
$turquoise: #73ede4;

// GREENS
$green :#58822e;

// YELLOWS
$gold: #f0B600;
$yellow: #ffcc00;

// TYPOGRAPHY
$section-light-text: #444;
$section-dark-text: #e6e6e6;


// $blue: #c39f61;  // Default blue color;